@use '../../../base';

table {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
    border-collapse: collapse;

    tr{
        &:nth-of-type(odd) > td {
            background-color: base.$secondary-dark-color;
            color: base.$text-dark-bg-color;
        } 

        &:nth-of-type(even) > td {
            background-color: base.$secondary-bright-color;
            color: base.$text-bright-bg-color;
        } 
    }
}